<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIPresentationControllerSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8FA5A5BF1DCED6C800BD6B6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FA5A5D31DCED6C800BD6B6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FA5A5DE1DCED6C800BD6B6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
